doctype html
html
  head
    link(rel='stylesheet', href='/style.css')
    if esdk
      script(src='https://cdn.shopify.com/s/assets/external/app.js')
      script.
        ShopifyApp.init({
          apiKey:       '#{apiKey}',
          shopOrigin:   'https://#{shopUrl}',
          debug: true,
        });

  body
    block content
