extends layout

block content
  script#productsTemplate(type='text/template')
    table.products
      thead
        tr
          th Id
          th Titel
          th Metafields
      tbody

  script#productTemplate(type='text/template')
    td <%= id %>
    td <%= vendor %> <%= title %>
    td.metafields

  script#productMetafieldTemplate(type='text/template')
    <%= namespace %>-<%= key %>:
    input(size=100 value!='<%= value %>')

  if esdk
    script.
      ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({
          buttons: {
            secondary: [
              { label: "Einstellungen", callback: function(){ alert('help'); } }
            ],
          },
          title: 'Mitbewerberanalyse',
        });
      });

  #products
  script(src='/scripts.js')
