extends layout

block content
  script#productsTemplate(type='text/template')
    table.products
      thead
        tr
          th Titel
          th Mitbewerber Urls
      tbody

  script#productTemplate(type='text/template')
    td(valign='top') <%= vendor %> <%= title %>
    td.metafields

  script#productMetafieldsTemplate(type='text/template')
    ul
    button.new +
    .addMetafield
      select(name='key')
        option boss-hoss
        option playmakers
        option tes
      input(size=100  name='value')
      button.add +

  script#productMetafieldTemplate(type='text/template')
    .showMetafield
      b <%= namespace %> - <%= key %>:
      input(size=100  name='value' value!='<%= value %>')
      button.del -
      button.update +

  if esdk
    script.
      ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({
          buttons: {
            secondary: [
              { label: "Einstellungen", callback: function(){ alert('help'); } }
            ],
          },
          title: 'Mitbewerberanalyse',
        });
      });

  #products
  script(src='/scripts.js')
